.echartsRadar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 200px;
}
.echartsPie{
    display: flex;
    justify-content: center;
    height: 280px;
}